<%= render 'page_title', title: '404 Not Found' %>
<div id="about">
  <div class="container">
    <div class="row">
      <div class="fix-pading-content box-content">
        <div class="fix-pading-content">
        <div id="main">
    	<div class="fof">
        		<h1>Error 404 Not Found !</h1>
    	</div>
</div>
        </div>
    </div>
</div>

</div>
</div>