/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import 'owlcarousel2/owl.carousel';
@import 'bootstrap3-editable/bootstrap-editable';


#about img {
    padding: 3px;
    width: 500px;
    margin-top: 10px;
    background: #fff;
    border-right: 0;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.06);
    height: 172px;
}

.fix-padding {
    padding:0px !important;
}
.image-box-item{
    position: relative;
}
.game-item{
    position: absolute;
    transform: translate(-50%, 120%);
    top: 50%;
    left: 50%;
    color: #ffffff;
}
