// Place all the styles related to the game controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#about img {
    padding: 3px;
    width: 500px;
    margin-top: 10px;
    background: #fff;
    border-right: 0;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.06);
    height: 172px;
}

.fix-padding {
    padding:0px !important;
}
.image-box-item{
    position: relative;
}
.game-item{
    position: absolute;
    transform: translate(-50%, 120%);
    top: 50%;
    left: 50%;
    color: #ffffff;
}

.fix-header {
    margin-left: 0px;
}

.user-review {
    margin-left:12px !important;    
}

.navbar-fixed-top {
    /*height:77px;*/
}

.space-nav {
    margin-top:95px;   
}

.create_review_modal {
    width: 915px !important;
}

.name-user,.name-user-replier{
    font-weight: 100 !important;
    color: #365899 !important;
    cursor: pointer;
    font-family: iinheritn !important;
    text-shadow: -1px 0px 1px #365899 !important;
    font-size: 18px !important;
}

.user_review_space_top {
    margin-top: 11px;
}

/*#about p {
    margin:unset !important;
}
*/
.fix-title-space {
    margin-top:10px;
}

.fix-content-review-space{
    background-color:#eff2f3;
    padding: 20px;
    border-radius: 10px;
}

.fix-title-space span{
    padding: 3px 18px 3px 18px;
    font-weight: 300;
/*    background-color: #f9d8d8;
    color: #000;*/
    /*box-shadow: 5px 3px 5px #333;*/
}

.fix-content-comment-space {
    padding: 5px 0px 4px 23px;
    background-color:#eff2f3;
    border-radius: 10px;
}

.fix-content-review-space p img {
    max-width:675px;
}

.text-indent-content-game {
    text-indent: 30px;
}

.content-game-home-page {
    background-color: #f1f1ff ;
    border-bottom-right-radius: 52px;
    border-top-left-radius: 49px;
    padding: 10px 0px 10px 0px;
    text-indent: 27px;
}

.fix-pading-content
{
    font-family: awesome;
    margin-top: 20px;
}

.fix-box-img-top-game
{
    box-shadow: 5px 5px 5px rgb(55, 126, 185) !important;
}



.container-top-game {
  position: relative;
}

/*.image {
  display: block !important;
  width: 100% !important;
}
*/
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #008CBA;
}

.container-top-game:hover .overlay {
  opacity: 0.8;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.like-color {
  color: #b3adad;
}