
<div class="limiter">
  <div class="container-login100" style="background-image: url('../assets/slider/1.jpg');">
    <div class="wrap-login100">
      <%= form_for [:manage, @user] do |f| %>

        <div class="wrap-input100 validate-input" data-validate = "Enter username">
          <%= f.text_field :full_name, placeholder:"Title", class:"input100"%>
          <span class="focus-input100" data-placeholder=""></span>
        </div>
         <div class="wrap-input100 validate-input" data-validate = "Enter username">
          <%= f.text_field :email, placeholder:"Title", class:"input100"%>
          <span class="focus-input100" data-placeholder=""></span>
        </div>
     
        <div class="actions" >
          <%= f.submit "Sumbmit", class:"login100-form-btn"%>
        </div>
      <% end %>
    </div>
  </div>
</div>