<p>Xin chào, chúc một ngày tốt lành<%= @email %>!</p>

<p>Bạn nhận đuợc email này vì bạn đã nhấn nút quên mật khẩu, </p>
<p></p>hi vọng rằng bạn chỉ đùa vì nếu ko thì bạn phãi tạo mật khẩu mối tại đây</p>

<p><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Hoặc là bạn có thể cố nhờ ra mật khẩu trong lúc xem bộ phim </p>
<p>"Three Billboards Outside Ebbing, Missour" (3 tấm biến quảng cáo), phim rất hay</p>
